
/* BEGIN EXTERNAL SOURCE */
body {
text-align:center
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
span {
font-family:Arial;font-size:24pt
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
div {
text-align:left;font-family:Arial
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
body {
text-align:center
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
span {
font-family:Arial;font-size:24pt
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
div {
text-align:left;font-family:Arial
}
/* END EXTERNAL SOURCE */
